<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2023 Yu Junyang
  ~ https://github.com/lowkeyfish
  ~
  ~ This file is part of IDDD.
  ~
  ~ IDDD is free software: you can redistribute it
  ~ and/or modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation, either version 3 of
  ~ the License, or (at your option) any later version.
  ~
  ~ IDDD is distributed in the hope that it will
  ~ be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with IDDD.
  ~ If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yujunyang.iddd.common.infrastructure.persistence.mybatis.mapper.PublishedNotificationTrackerMapper">
    <sql id="columns">
        `id`,
        `most_recent_published_event_id` AS mostRecentPublishedEventId,
        `event_type` AS eventType,
        `concurrency_version` AS concurrencyVersion
    </sql>

    <insert id="insertOrIgnore" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO `published_notification_tracker`(
            `most_recent_published_event_id`,
            `event_type`,
            `concurrency_version`
        ) VALUES(
            #{mostRecentPublishedEventId},
            #{eventType},
            #{concurrencyVersion}
        )
    </insert>

    <update id="update">
        UPDATE `published_notification_tracker` SET
            `most_recent_published_event_id` = #{mostRecentPublishedEventId},
            `concurrency_version` = #{concurrencyVersion}
        WHERE
            `id` = #{id} AND `concurrency_version` = #{oldConcurrencyVersion}
    </update>

    <select id="getByEventType"
            resultType="com.yujunyang.iddd.common.infrastructure.persistence.mybatis.mapper.model.PublishedNotificationTrackerModel">
        SELECT
        <include refid="columns"></include>
        FROM
        `published_notification_tracker`
        WHERE
        `event_type` = #{eventType}
    </select>

</mapper>